// my Note
.warning {
    padding: 1rem;
    padding-left: 3rem;
    background-color: #ffeca1;
    color: black;
    background: #ffeca1 url(../../assets/images/light.png) no-repeat 0px 0px;
  }
  .my-alert-primary {
    color: $my-secondary-color;;
    border-color: lighten($color: $my-primary-color, $amount: 20%);
    background-color:  lighten($color: $my-primary-color, $amount: 50%);;
  }
  .my-alert-title {
    padding: 1rem;
    padding-left: 3rem;
    a {
      color: $my-link-color !important;
      font-size: 1.2rem;
    }
  }

  .my-alert-info {
    @extend .my-alert-title;
    background: whitesmoke url(../../images/brujula.png) no-repeat 0px .5rem;
  }