@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body {
   @include gradient(to top left , $list2);
   a {
    color: $my-link-color !important;
  }
}


.my4Vientos-header {
   background-image: url('./../../images/header-bg.png'); 
   background-size:cover;
   a{
    padding-left: 15%;

   }
}
.my4Vientos-subject { 

  h1.my4Vientos-title {
    color: darken($my-primary-color, $amount: 30%);
    font-family: 'Open Sans', sans-serif;
  }
}
.my4Vientos-level  { 
  display: flex;
  align-items: center;
  flex-direction: row;
  color: $my-primary-color;

  img.my4Vientos-img{
    max-width: 5rem;
    padding: 1rem;
  }
}
.my4Vientos-subtitle {
  float:none;
  text-align: left;
  font-size: large;
  color: darken($my-primary-color, $amount: 20%);
}
//
// The basic two column layout
//

/*
 * Sidebar
 */


.sidebar-sticky {
  background-image: url('./../../images/sidebar-bg.jpg'); 
  background-size:cover;

  align-items: flex-start;

  position: -webkit-sticky;
  position: sticky;


  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

  .list-group-item {

     background-color: transparent !important;
     border: 0ch;
     .nav-link {
      font-size: large;
      color: $nav-child-link-color!important;
      &:hover  {
        color: lighten($color: $my-secondary-color, $amount: 80%) !important;
      }
    }   
  }
}



