@charset 'utf8';

$my-primary-color:#3D4D4D;
$my-secondary-color: white;
$my-accent-color: #A3332A;


$my-link-color: darken($my-accent-color,20%);
$my-link-hover-color: $my-accent-color;


$my-sidebar-color: #dfe9e9;
$nav-child-link-color: darken($my-primary-color, 20%) ;

$list2: #8A9999, $my-sidebar-color; 


